assemblyai==0.26.0
datasets==2.19.2
jiwer==3.0.4
openai==1.58.1
pandas==2.2.2
pydub==0.25.1
whisper_normalizer==0.0.8
speechmatics-python==1.8.3
python-dotenv==1.0.0
tabulate==0.9.0
deepgram-sdk==3.7.7
boto3==1.28.0
google-cloud-speech==2.10.0
google-cloud-storage==2.10.0